    .Left-contianer {
        font-size: 35px; /* Change to your desired font size */
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif /* Change to your desired font family */
    }
.right-container{
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
    body{
        background-image: url(../Assets/Imgs/Background.jpg);
        background-size: cover; /* Adjust the background size as needed */
        background-repeat: no-repeat; /* Prevent image from repeating */
    }
    .article1{
        font-size: 35px;
        background-color: darkgray;
    }
     .article2{
        font-size: 35px;
        background-color: darkgray;
    }
    .btn.btn-dark {
        font-size: 20px; /* Adjust the font size to increase the button size */
        padding: 12px 24px; /* Adjust the padding to increase the button size */
    }
    .footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }
    